<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testMasterDetail.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F592DBE81C00CBA400A5FAF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F592DBFE1C00CBA400A5FAF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F592DC091C00CBA500A5FAF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
